## Part I - Write Collected Data into PostgreSQL

### Import the functions written in the query_helper.py file

In [3]:
!pip install regex

Collecting regex
Installing collected packages: regex
Successfully installed regex-2017.7.28

In [4]:
!pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.7.3.1-cp36-cp36m-manylinux1_x86_64.whl
Installing collected packages: psycopg2
Successfully installed psycopg2-2.7.3.1

In [5]:
import psycopg2 as pg2
import pandas as pd
import re

In [6]:
from os import chdir
chdir('/home/jovyan/')

In [7]:
import library.db_helper as db
import library.functions as fy

In [8]:
con, cur = db.connect_to_db()

### Insert content into the created tables (which are currently empty)

#### WRITE INTO THE POSTGRES category TABLE

In [23]:
CATEGORY_df = pd.read_pickle('./data/CATEGORY_df.p')

In [24]:
CATEGORY_df.reset_index(inplace=True, drop=True)

In [25]:
CATEGORY_df.head()

            category  categoryid
0   Machine Learning           1
1  Business Software           0

In [26]:
# clean out the category db that was previously created 
delete_cat_query = '''
BEGIN;
DELETE FROM category;
COMMIT;
'''

cur.execute(delete_cat_query)

In [29]:
for i in CATEGORY_df.index:
    db.insert_category(CATEGORY_df.iloc[i,1], CATEGORY_df.iloc[i,0])

In [30]:
query = '''
SELECT * 
FROM category
'''

test_category_query = db.query_to_dataframe(query)

In [31]:
test_category_query

   cid               name
0    1   Machine Learning
1    0  Business Software

#### WRITE INTO THE POSTGRES page TABLE

In [32]:
PAGE_df = pd.read_pickle('./data/PAGE_df.p')

In [33]:
PAGE_df.shape

(2449, 3)

In [39]:
PAGE_df.sample(5)

,pageid,title,text
1059,2370618,lotus marketplace,lotus marketplace was a database program devel...
658,48673924,dynamic unobserved effects model,this article has multiple issues please help i...
1394,3686819,x com interceptor,x com interceptordeveloper s microprosepublish...
1716,880878,fpml,fpml financial products markup language is an ...
1542,16370912,portable flight planning software,this article has multiple issues please help i...

In [34]:
PAGE_df['title'] = PAGE_df['title'].apply(lambda x: fy.text_cleaner(x))

In [35]:
delete_page_query = '''
BEGIN;
DELETE FROM page;
COMMIT;
'''

cur.execute(delete_page_query)

In [40]:
for i in PAGE_df.index:
    db.insert_page(PAGE_df.iloc[i,0], PAGE_df.iloc[i,1], PAGE_df.iloc[i,2])

In [41]:
query = '''
SELECT * 
FROM page
'''

test_page_query = db.query_to_dataframe(query)

In [42]:
test_page_query.shape

(2449, 3)

In [44]:
test_page_query.sample(5)

,pid,text,title
1855,44739552,this article relies largely or entirely on a s...,oracle health sciences
147,40946774,in theoretical computer science a pattern lang...,pattern language formal languages
1521,8391734,this article has multiple issues please help i...,unit
1215,50515193,workforce optimization wfo is a business strat...,workforce optimization
805,20768311,pierre baldibornrome italyresidenceusafieldsco...,pierre baldi

#### WRITE INTO THE POSTGRES category_page JOIN TABLE

In [54]:
TOTAL_df = pd.read_pickle('./data/total_df.p')

In [55]:
TOTAL_df.sample(5)

,pageid,title,category,text
1804,7750889,Workrave,Business Software,workraveinitial release years ago stable rel...
799,10371071,Peter Flach,Machine Learning,peter flachbornpieter adriaan flachsneekinstit...
1842,44739552,Oracle Health Sciences,Business Software,this article relies largely or entirely on a s...
1623,31039666,Test automation management tools,Business Software,this article needs additional citations for ve...
2418,31216734,Metro 2 format,Business Software,the topic of this article may not meet wikiped...

In [56]:
from sklearn.preprocessing import LabelEncoder

In [57]:
le = LabelEncoder()

In [58]:
TOTAL_df['cid'] = le.fit_transform(TOTAL_df['category'])

In [59]:
TOTAL_df.sample(5)

,pageid,title,category,text,cid
494,47518866,Fluentd,Machine Learning,fluentddeveloper s treasure datainitial releas...,1
1722,6814048,LiveWire Professional,Business Software,it is proposed that this article be deleted be...,0
2190,33104468,Trello,Business Software,this article relies too much on references to ...,0
958,32958985,DaySmart Software,Business Software,daysmart software inc typeprivate companyindus...,0
1632,2732586,Zimbra,Business Software,this article relies too much on references to ...,0

In [60]:
delete_catpage_query = '''
BEGIN;
DELETE from category_page;
COMMIT;
'''

cur.execute(delete_catpage_query)

In [61]:
CATEGORY_PAGE_df = TOTAL_df[['pageid', 'cid']]

In [62]:
CATEGORY_PAGE_df.iloc[0,0], CATEGORY_PAGE_df.iloc[0,1]

(54972729, 1)

In [63]:
for i in CATEGORY_PAGE_df.index:
    db.insert_category_page(CATEGORY_PAGE_df.iloc[i,0], CATEGORY_PAGE_df.iloc[i,1])

In [64]:
query = '''
SELECT *
FROM category_page
'''

catpage_test_query = db.query_to_dataframe(query)

In [65]:
catpage_test_query.shape

(2449, 2)

In [66]:
catpage_test_query

      category_cid  page_pid
0                1  54972729
1                1  43385931
2                1  49082762
3                1    233488
4                1  53587467
5                1   3771060
6                1  43808044
7                1  28801798
8                1  45049676
9                1  52642349
10               1  30511763
11               1  50773876
12               1  20890511
13               1  49242352
14               1  19463198
15               1  14003441
16               1  31877832
17               1   9732182
18               1  35867897
19               1  40973765
20               1  50211107
21               1  40678189
22               1  55075082
23               1    205393
24               1  50646178
25               1   1191936
26               1  44439173
27               1  53631046
28               1  39182554
29               1   8964665
...            ...       ...
2419             0   6095113
2420             0  22630106
2421             0  20237578
2422             0   2675098
2423             0   2018323
2424             0   1441125
2425             0   5232022
2426             0   4991466
2427             0  25034980
2428             0   4767593
2429             0   3062614
2430             0    456424
2431             0  48254824
2432             0  22628313
2433             0   2438634
2434             0   9636465
2435             0  19539906
2436             0    327999
2437             0  26723213
2438             0  26178912
2439             0  48253668
2440             0  14569194
2441             0  47534615
2442             0   1966364
2443             0   5192200
2444             0   1131405
2445             0   8838142
2446             0   9818995
2447             0   5794691
2448             0   4260606

[2449 rows x 2 columns]